.slide-to-unlock-parent {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #eee;
}
.slide-to-unlock-parent .slideable {
  width: 10%;
  min-width: 128px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin: -1px;
  background-color: #fff;
  position: relative;
  z-index: 999;
  opacity: 0.9;
}
.slide-to-unlock-parent .slideable.disabled {
  background-color: #eee;
}
.slide-to-unlock-parent .slide-text {
  text-align: center;
  position: relative;
  z-index: 2;
  user-select: none;
}